* {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid aliceblue;
    background: #222;
    color: aliceblue;
    width: 100%;
    height: 100%;
}

.game-card {
    display: flex;
    border: 2px solid aliceblue;
}
