* {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #020024;
    background: linear-gradient(
        310deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    color: #020024;
    width: 100%;
    height: 100%;
    gap: 15px;
    font-family: 'Ubuntu';
    font-size: 30px;
}

.game-card {
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 100px;
    border-radius: 30px;
    background-color: rgb(184, 207, 228);
}

.game-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.players {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    /* opacity: 20%; */
}

.dice-container {
    margin-block: 80px;
}

.dice-img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.btn {
    all: unset;
    border: 2px solid aliceblue;
    padding: 10px;
    padding-inline: 30px;
    border-radius: 50px;
    background-color: white;
}

.active {
    color: #090979;
}

.standby {
    opacity: 50%;
}

.total-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.total-score-p1,
.total-score-p2 {
    font-size: 80px;
}

.current-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    padding-inline: 50px;
    border-radius: 30px;
    background-color: #090979;
    color: white;
}

.winner {
    color: white;
}

.hidden {
    display: none;
}
