* {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid aliceblue; */
    background: #222;
    color: aliceblue;
    width: 100%;
    height: 100%;
}

.game-card {
    display: flex;
    gap: 100px;
    padding: 50px;
    border: 2px solid aliceblue;
}

.game-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.players {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

/* working on these classes */
.active-player {
    color: green;
}

.stand-by-player {
    color: aliceblue;
}
/* -------------------------- */

.total-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.current-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border: 2px solid aliceblue;
}
