* {
    margin: 0px;
    padding: 0px;
    font-family: 'Space Grotesk';
}

body {
    background-color: #00822c;
}

.button-modals {
    display: flex;
    justify-content: space-evenly;
}

.show-modal {
    margin: 30px;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
    border: 0px;
}

.modal {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-self: center;
    width: 500px;
    margin-top: 60px;
    background-color: aliceblue;
    border-radius: 5px;
    font-size: 15px;
    z-index: 10;
}

.close-modal {
    align-self: end;
    border: 0px;
    font-size: 30px;
    background-color: aliceblue;
    font-weight: 500;
    margin-right: 10px;
}

.hidden {
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

p {
    margin: 10px 40px;
    margin-bottom: 40px;
}

h1 {
    margin: 10px 40px;
}
