* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.idle {
    background-color: #222;
    color: aliceblue;
}

.waiting {
    background-color: #ffbf00;
    color: aliceblue;
}

.ready {
    background-color: #2e8b57;
    color: aliceblue;
}

.finished {
    background-color: #880808;
    color: aliceblue;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timers {
    margin: 50px;
    font-size: 150px;
}

.timer {
    display: flex;
}

.best-time {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 40px;
}

.record-time {
    padding-left: 20px;
}

.controlers {
    margin: 50px;
}

.btn {
    padding: 20px;
    margin-top: 80px;
    margin-inline: 50px;
    font-size: 30px;
    border-radius: 50px;
    border: 0px;
}

.instruction {
    text-align: center;
    font-weight: bold;
}

.hidden {
    display: none;
}
